.btn {
    border: 2px solid #8f4b04;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    text-shadow: 0 0 2px var(--text-main-color-dark);
}

.btn:hover {
    border: 2px solid #f88207;
    background-color: rgba(234, 119, 8, 0.3);
}