:root {
    --input-switch-transition-duration: 0.4s;
    --input-switch-width: 30px;
    --input-switch-height: 18px;
    --input-switch-slider-size: 13px;
    --input-switch-slider-gap-left: 2px;
    --input-switch-slider-gap-bottom: 2px;
}

.input_switch {
    position: relative;
    display: inline-block;
    width: var(--input-switch-width);
    height: var(--input-switch-height);
}

.input_switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.input_switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-bg-color-light);
    -webkit-transition: var(--input-switch-transition-duration);
    transition: var(--input-switch-transition-duration);
}

.input_switch__slider:before {
    position: absolute;
    content: "";
    height: var(--input-switch-slider-size);
    width: var(--input-switch-slider-size);
    left: var(--input-switch-slider-gap-left);
    bottom: var(--input-switch-slider-gap-bottom);
    background-color: #ccc;
    -webkit-transition: var(--input-switch-transition-duration);
    transition: var(--input-switch-transition-duration);
}

.input_switch__checkbox:checked + .input_switch__slider {
    background-color: var(--theme-bg-color-dark);
}

.input_switch__checkbox:focus + .input_switch__slider {
    box-shadow: 0 0 1px var(--theme-bg-color-dark);
}

.input_switch__checkbox:checked + .input_switch__slider:before {
    background-color: var(--theme-bg-color-light);
    -ms-transform: translateX(var(--input-switch-slider-size));
    transform: translateX(var(--input-switch-slider-size));
}

.input_switch__slider{
    border-radius: var(--input-switch-height);
}

.input_switch__slider:before {
    border-radius: 50%;
}