.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.2s;
}

.preloader_circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 15px solid transparent;
}

.preloader_first {
    filter: brightness(1.6) saturate(1);
    border-top: 15px solid var(--section-line-color);
    animation: spin_clockwise linear infinite 2s;
}

.preloader_second {
    filter: brightness(1.4) saturate(.9);
    width: 220px;
    border-top: 15px solid var(--section-line-color);
    animation: spin_counterclockwise linear infinite 1.8s;
}

.preloader_third {
    filter: brightness(1.2) saturate(.8);
    width: 190px;
    border-bottom: 15px solid var(--section-line-color);
    animation: spin_clockwise linear infinite 1.6s;
}

.preloader_fourth {
    filter: brightness(1) saturate(.7);
    width: 160px;
    border-top: 15px solid var(--section-line-color);
    animation: spin_counterclockwise linear infinite 1.4s;
}

.preloader_fives {
    filter: brightness(.8) saturate(.6);
    width: 130px;
    border-bottom: 15px solid var(--section-line-color);
    animation: spin_clockwise linear infinite 1.2s;
}

.preloader_sixes {
    filter: brightness(.6) saturate(.5);
    width: 100px;
    border-top: 15px solid var(--section-line-color);
    animation: spin_counterclockwise linear infinite 1s;
}

@keyframes spin_clockwise {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0);
    }

    30% {
        transform: translateX(-50%) translateY(-50%) rotateZ(40deg);
    }

    70% {
        transform: translateX(-50%) translateY(-50%) rotateZ(320deg);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) rotatez(360deg);
    }
}

@keyframes spin_counterclockwise {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0);
    }

    30% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-40deg);
    }

    70% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-320deg);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) rotatez(-360deg);
    }
}

@media (max-width: 1000px) {
    .preloader_circle {
        width: 180px;
        border: 10px solid transparent;
    }

    .preloader_first {
        border-top: 10px solid var(--section-line-color);
    }

    .preloader_second {
        width: 160px;
        border-top: 10px solid var(--section-line-color);
    }

    .preloader_third {
        width: 140px;
        border-bottom: 10px solid var(--section-line-color);

    }

    .preloader_fourth {
        width: 120px;
        border-top: 10px solid var(--section-line-color);
    }

    .preloader_fives {
        width: 100px;
        border-bottom: 10px solid var(--section-line-color);
    }

    .preloader_sixes {
        width: 80px;
        border-top: 10px solid var(--section-line-color);
    }
}

@media (max-width: 600px) {
    .preloader_circle {
        width: 80px;
        border: 5px solid transparent;
    }

    .preloader_first {
        border-top: 5px solid var(--section-line-color);
    }

    .preloader_second {
        width: 70px;
        border-top: 5px solid var(--section-line-color);
    }

    .preloader_third {
        width: 60px;
        border-bottom: 5px solid var(--section-line-color);

    }

    .preloader_fourth {
        width: 50px;
        border-top: 5px solid var(--section-line-color);
    }

    .preloader_fives {
        width: 40px;
        border-bottom: 5px solid var(--section-line-color);
    }

    .preloader_sixes {
        width: 30px;
        border-top: 5px solid var(--section-line-color);
    }
}