.code_example {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code_example h2 {
    text-align: center;
    margin: 2rem 0;
}

.code_example code {
    white-space: break-spaces;
    line-height: 2rem;
}

.regular_words {
    color: #9a9699;
}

.deactivated_words {
    color: rgb(73, 73, 73);
}

.reserved_words {
    color: #8f4b04;
}

.method_invoked_words {
    color: #cfff00;
}

.property_words {
    color: #703def;
}

.number_words {
    color: #0057ef;
}

@media (max-width: 500px) {
    .code_example h3 {
        font-size: 1rem;
    }

    .code_example code {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }
}

@media (max-width: 370px) {
    .code_example h3 {
        font-size: .8rem;
    }

    .code_example code {
        font-size: 0.5rem;
        line-height: .9rem;
    }
}