:root {
    --text-main-color-dark: #ffffff;
    --text-main-color-light: #000000;

    --text-secondary-color-dark: #c7b7ff;
    --text-secondary-color-ligth: #08081a;

    --theme-bg-color-dark: #030303;
    --theme-bg-color-light: #ffffff;
}