header {
    display: flex;
}

.theme {
    display: flex;
}

.theme__theme_switch {
    width: 2rem
}

.theme__theme_switch:nth-child(2n) {
    display: none;
}

.navigation {

}

.navigation__list {
    display: flex;
}

.navigation__item {

}