.presentation {
    padding: 5rem 0;
    width: 100%;
    min-height: 34rem;
}

.presentation > h1 {
    text-align: center;
    color: var(--text-main-color-dark);
    font-size: 2rem;
}

.presentation__wrapper {
    display: flex;
    justify-content: space-around;
}

.presentation__wrapper img {
    display: block;
    width: 10rem;
    border-radius: 1.5rem;
}

.presentation__wrapper > p {
    font-size: 1.2rem;
}